@charset"utf-8";
@import url("http://rafaeldejongh.com/css/fonts/fonts.css");

body {
    background-color:#17171a;
    margin:auto;
    padding:0;
    color:#777;
    text-shadow:0 1px 0 #000;
}
#WipPreviewListModule .Content .ProgressBar div {
    background:#991f1f;
    background:linear-gradient(top bottom, #c9443c 0%, #991f1f 100%);
    background:-moz-linear-gradient(top, #c9443c 0%, #991f1f 100%);
    background:-webkit-linear-gradient(top, #c9443c 0%, #991f1f 100%);
    background:-o-linear-gradient(top, #c9443c 0%, #991f1f 100%);
    background:-ms-linear-gradient(top, #c9443c 0%, #991f1f 100%);
    -moz-border-radius:0 1px 1px 0;
    -webkit-border-radius:0 1px 1px 0;
    border-radius:0 1px 1px 0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}
#WipPreviewListModule .Content .Progress, #WipPreviewListModule .Content .ProgressBar {
    position:absolute;
    top:101px;
    width:180px;
    margin:0 0 0 11px;
    opacity:.8;
    color:#eee;
    text-shadow:black 0px 1px 1px;
}
#WipPreviewListModule .Content .Progress, #WipPreviewListModule .Content li:first-child .Progress {
    top:86px
}
#WipPreviewListModule .Content li:first-child .ProgressBar {
    top:101px
}
div#CoreStrip {
    background-color:#17171a;
    margin:auto;
    width:980px;
    padding:9px 0 0 0;
}
#NavigatorPanes h4 {
    background:#17171a;
    border:1px solid #333;
}
#NavigatorPanes article {
    background:#222224;
    border:1px solid #353535;
    border-top:1px solid black;
}
ul#ActivityLog h1 {
    background:#17171a;
    z-index:800;
}
li.ActivityDay {
    color:#777;
    background:#111;
    border:1px solid black;
    box-shadow:0px 0px 0px 1px #333;
}
li.ActivityDay:hover {
    color:#ccc;
    background:#151515;
}
li.SelectedDay {
    color:#E2E2E2;
    box-shadow:0px 0px 0px 1px black;
    border:1px solid #555;
    background:#333;
}
li.SelectedDay:hover {
    background:#393939!important
}
#NavigatorPanes>li {
    max-height:700px;
    overflow:auto;
}
div#Wrapper {
    width:auto;
    margin:auto;
}
header {
	margin: auto;
	width: 900px;
	text-align: center;
}
div#HeaderWrapper {
    border-bottom:#990000 solid 2px;
    height: 55px;
    margin: auto;
    text-align: center;
}
#NetworkLinks {
	background: none !important;
	text-align: center;
	float: left;
}
#NetworkLinks #GamebananaTab {
	background: none !important;
}
section {
    margin: 98px auto 0 auto;
    width:100%;
    height: 50px;
}
div#SiteSearch .MasterGamesList li.Game:hover {
    color:#ccc
}
div#SiteSearch #SearchableGames .sfHover #ActiveSelection, div#SiteSearch fieldset input[name=search]:hover {
    border:#666 1px solid
}
div#SiteSearch {
    position: relative;
    right: 0;
    top: 1px;
    float: left;
}
div#Logo, div#Navigator {
    float:left;
    margin: 3px 15px 0 10px;
}
div#SiteSearch #SearchableGames ul {
    width:382px
}
button {
    font-family:"Agency FB", Verdana, Geneva, sans-serif;
    font-weight:bold;
    font-size:20px!important;
    text-shadow:0 1px 0 #000;
    color:#999;
    outline:none;
    min-width:80px;
    min-height:32px;
    border:1px solid #0b0b0b;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:#212121;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06);
    box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06);
    background:-moz-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%);
    background:-o-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%);
    background:-webkit-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%);
    background:linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%);
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
button:hover {
    color:#ccc!important;
    border:1px solid #0b0b0b!important;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06)!important;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06)!important;
    box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -4px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .06)!important;
    background:-moz-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:-o-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:-webkit-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
}
button:active {
    color:#ccc;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -2px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .03)!important;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -2px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .03)!important;
    box-shadow:0 1px 3px rgba(0, 0, 0, .23), inset 0 -2px 0 rgba(0, 0, 0, .9), inset 0 0 0 1px rgba(255, 255, 255, .03)!important;
    background:-moz-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:-o-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:-webkit-linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
    background:linear-gradient(bottom, rgba(75, 75, 75, .5) 0%, rgba(12, 12, 12, .5) 100%)!important;
}
button.Disabled {
    color:#555!important;
    border:1px solid #333!important;
}
button.Disabled:hover {
    color:#555!important;
    border:1px solid #333!important;
}
button.ModalLauncher {
    color:#999;
    border:1px solid #0b0b0b;
}
div#MainContent {
    -moz-box-shadow:0px 0px 0px 0px black!important;
    -webkit-box-shadow:0px 0px 0px 0px black!important;
    box-shadow:0px 0px 0px 0px black!important;
    border-left:0px solid #000!important;
    padding: 0;
}
#DropdownMenuSubNavigator {
    margin:2px auto 0 auto;
    padding:0;
    position:fixed;
    top:110px;
    left:47%;
    z-index:700;
    opacity:0.6;
    -webkit-transition:opacity 0.4s ease-in;
    -moz-transition:opacity 0.4s ease-in;
    -o-transition:opacity 0.4s ease-in;
    transition:opacity 0.4s ease-in;
}
#DropdownMenuSubNavigator:hover {
    opacity:1
}
#DropdownMenuSubNavigator>ul>li {
    color:#666;
    background:#222;
    -moz-box-shadow:0px 0px 0px 0px black;
    -webkit-box-shadow:0px 0px 0px 0px black;
    box-shadow:0px 0px 0px 0px black;
    border:1px solid #444;
}
#DropdownMenuSubNavigator>ul>li:hover {
    color:#999;
    background:#222;
    border:1px solid #444;
}
#RemindersPane h1 {
    background:#17171a
}
li#RemindersPane em.MoreThan5DaysToGo {
    border:1px solid #333;
    color:#BEBEBE;
}
div#MasterLog {
    background:#17171a;
    margin:0;
    border-bottom:#990000 solid 2px;
}
div#ColumnGrid {
    width:100%!important
}
div.Module {
    float:left;
    border:0px solid black;
}
div.Module>h3 {
    border:0px solid #466675;
    background:none;
    -moz-box-shadow:0px 0px 0px 0px black;
    -webkit-box-shadow:0px 0px 0px 0px black;
    box-shadow:0px 0px 0px 0px black;
    text-align:center;
}
.MultipleRowListModule div.Preview img {
    min-height:100px
}
.MultipleRowListModule div.Preview img.GameIcon {
    max-width:32px;
    max-height:32px;
    min-height:32px;
}
.MultipleRowListModule div.Preview a img.GameIcon:hover {
    -moz-box-shadow:0px 0px 0px 0px #000!important;
    -webkit-box-shadow:0px 0px 0px 0px #000!important;
    box-shadow:0px 0px 0px 0px #000!important;
}
#BuddiesModule>.Content>ul>li {
    display:none
}
#BuddiesModule>.Content>ul>li:nth-child(-n+8) {
    display:block
}
#BuddiesModule>.Content>ul {
    margin-top:0px
}
#BuddiesModule>.Content>ul>li {
    padding:4px
}
#BuddiesModule {
    text-align:center;
    margin:0px 10px 0px 2px;
    display:inline-block;
    float:left;
    clear:right;
}
div#PostEditFormModule {
    width:940px
}
.markitup, .markItUpEditor {
    width:900px!important;
    max-width:900px!important;
    display:block;
}
.MainForm {
    width:950px
}
.MainForm textarea {
    width:880px!important;
    max-width:880px;
}
.MainForm textarea:hover {
    border:1px solid #666
}
#IsAnonymous {
    display:none
}
div.StampsForm label {
    border:1px solid #444!important;
    background:#202020!important;
    -moz-box-shadow:0px 0px 2px #111;
    -webkit-box-shadow:0px 0px 2px #111;
    box-shadow:0px 0px 2px #111;
}
div.StampsForm label.Checked {
    border:1px solid #888!important
}
.Module.FullStampsDisplay {
    float: none;
}
.Modal .Toolbar li {
	display: inline-block;
	background: none;
	padding: 5px;
}
.Module.FullStampsDisplay .Contents article {
	background: none;
}
.Modal .Contents {
	text-align: left;
	background: #232324;
}
#PostsListModule ul.PostStamps li:hover {
    border:1px solid #888
}
#PostsListModule ul.PostStamps li {
    border:1px solid #444;
    background:rgba(50, 50, 50, 0.4);
    -moz-box-shadow:0px 0px 2px #111;
    -webkit-box-shadow:0px 0px 2px #111;
    box-shadow:0px 0px 2px #111;
}
div.FullStampsDisplay li.Stamp div {
    border:1px solid #444!important;
    background:#202020!important;
}
#header {
    width:100%;
    height:90px;
    background-color:#17171a;
    position:fixed;
    top:0;
    left:0;
    z-index:666;
    border-bottom:#990000 solid 2px;
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .4);
    box-shadow:0 1px 1px rgba(0, 0, 0, .4);
}
#nav {
    height:90px;
    width:900px;
    margin:auto;
}
#nav ul {
    font-family:"Agency FB", Verdana, Geneva, sans-serif;
    font-weight:bold;
    text-align:center;
    float:right;
    width:600px;
    margin:27px 0 0 0;
    word-spacing:50px;
    font-size:25px;
}
#nav li {
    display:inline
}
#nav a {
    color:#666
}
#nav a:visited {
    color:#666
}
#nav a:hover {
    color:#999
}
#logo {
    opacity:0.62;
    margin:12px 0 0 0;
    width:276px;
    display:block;
    float:left;
    clear:both;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}
#logo:hover {
    opacity:1;
    border:none;
    outline:none;
    box-shadow:none;
}
.article {
    float:left;
    display:block;
    min-width: 1200px;
    width:100%;
    margin:auto;
    background-color:#232324;
    padding:10px 0 0 0;
}
#submissions div.Module div.Content {
    border:1px solid #151515;
    background:rgba(50, 50, 50, 0.4);
}
#submissions .GenericPreviewListModule li:nth-child(odd) {
    background:rgba(50, 50, 50, 0.3)
}
#submissions .MultipleRowListModule span.LabelStat {
    background:rgba(20, 20, 20, 0.5)
}
#submissions div.Module {
    margin: 0px 5px 10px 5px;
    float: left;
}
#submissions, #contact {
    width: 980px;
    margin:auto;
    display:block;
}
#submissions {
	width: 1024px;
}
img.PreviewImage {
    width:100%;
}
div.GenericPreviewListModule ul {
    width:225px;
}
div.GenericPreviewListModule li {
    min-height:125px;
    height:auto;
    position:relative;
}
.MultipleRowListModule .ListControls {
    margin:-1px 0;
    border:none;
    outline:0;
}
.PreviewImage {
    width:100%;
    min-height:100px;
    /*height:100px;
    max-height:100px;*/
}
div.GenericPreviewListModule div.Preview {
	height: 115px;
	overflow: hidden;
}
#about {
    background-color:#17171a;
    border-top:#990000 solid 2px;
    border-bottom:#990000 solid 2px;
    -moz-box-shadow:0 0px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow:0 0px 2px rgba(0, 0, 0, .4);
    box-shadow:0 0px 2px rgba(0, 0, 0, .4);
    height:480px;
}
#aboutcontent {
    z-index:200;
    margin:auto;
    width:980px;
    height:460px;
    display:block;
    padding:10px 0 0 0;
}
.imgcv {
    margin:0 32px 0 0;
    height:400px;
    float:right;
    display:block;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid #000;
    -moz-box-shadow:0px 0px 2px #111;
    -webkit-box-shadow:0px 0px 2px #111;
    box-shadow:0px 0px 2px #111;
}
#aboutme {
    position:absolute;
    top:900px;
}
#contactme {
    position:absolute;
    top:1370px;
}
#mysubmissions {
    position:absolute;
    top:0px;
}
#about h3 {
    font-size:16px
}
#about div.Module {
    margin-bottom:1px
}
#about div.Module div.Content {
    border:1px solid #222;
    background:rgba(50, 50, 50, 0.2);
    width:640px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.article h1 {
    font-size:36px;
    color:#999;
    margin-bottom:2px;
    font-family:"Agency FB", Verdana, Geneva, sans-serif;
}
#meinfo {
    font-size:12px;
    display:block;
    float:left;
    padding:12px;
    width:636px;
    border:1px solid #222;
    background:rgba(50, 50, 50, 0.2);
    -webkit-border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomright:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
}
.button {
    font-family:"Agency FB", Verdana, Geneva, sans-serif;
    font-weight:bold;
    display:inline-block;
    text-align:center;
    width:208px;
    height:26px;
    font-size:22px;
    float:left;
    padding:2px 6px;
    margin:15px 20px 0 60px;
    background:#7e0001;
    background:-moz-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e0001), color-stop(45%, #740000), color-stop(78%, #710100), color-stop(78%, #6e0000), color-stop(91%, #6e0001), color-stop(100%, #6a0000));
    background:-webkit-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-o-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-ms-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:linear-gradient(to bottom, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow:0 0px 2px rgba(0, 0, 0, .8);
    box-shadow:0 0px 2px rgba(0, 0, 0, .8);
    -webkit-transition:background 0.4s ease-in;
    -moz-transition:background 0.4s ease-in;
    -o-transition:background 0.4s ease-in;
    transition:background 0.4s ease-in;
}
.button:hover {
    background:#7e0001;
    background:-moz-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e0001), color-stop(45%, #740000), color-stop(78%, #710100), color-stop(78%, #6e0000), color-stop(91%, #6e0001), color-stop(100%, #6a0000));
    background:-webkit-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-o-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:-ms-linear-gradient(top, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
    background:linear-gradient(to bottom, #7e0001 0%, #740000 45%, #710100 78%, #6e0000 78%, #6e0001 91%, #6a0000 100%);
}
.button:active {
    background:-moz-linear-gradient(top, #6a0000 0%, #6e0001 9%, #6e0000 22%, #710100 22%, #740000 55%, #7e0001 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a0000), color-stop(9%, #6e0001), color-stop(22%, #6e0000), color-stop(22%, #710100), color-stop(55%, #740000), color-stop(100%, #7e0001));
    background:-webkit-linear-gradient(top, #6a0000 0%, #6e0001 9%, #6e0000 22%, #710100 22%, #740000 55%, #7e0001 100%);
    background:-o-linear-gradient(top, #6a0000 0%, #6e0001 9%, #6e0000 22%, #710100 22%, #740000 55%, #7e0001 100%);
    background:-ms-linear-gradient(top, #6a0000 0%, #6e0001 9%, #6e0000 22%, #710100 22%, #740000 55%, #7e0001 100%);
    background:linear-gradient(to bottom, #6a0000 0%, #6e0001 9%, #6e0000 22%, #710100 22%, #740000 55%, #7e0001 100%);
}
body article blockquote {
    -moz-transition:all .5s ease-out;
    -webkit-transition:all .5s ease-out;
    -o-transition:all .5s ease-out;
}
#contact .Module {
    border:0px solid black
}
#contact .Module, #contact .Content {
    border:0px solid #000;
    background:none;
    overflow:hidden;
}
.Content button {
    width:960px!important
}
.Modal button {
    min-width:80px!important;
    width:auto!important;
    transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    -webkit-transition:all .5s ease-out;
    -o-transition:all .5s ease-out;
    display:block;
}
.Module ul.LogMessages {
    width:930px
}
.Module ul.LogMessages {
    text-align:center;
    padding:10px;
    background:rgba(50, 50, 50, 0.4);
    color:#999;
    border:0px solid #333;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
#contact {
    color:#888
}
#contact #PostsListModule div.PostHeader {
    background:rgba(50, 50, 50, 0.4)
}
#contact #PostsListModule article {
    border:1px solid #151515
}
#contact #PostsListModule div.Content>ul>li {
    background:rgba(20, 20, 20, 0.4);
    -moz-box-shadow:0px 0px 0px 1px #111;
    -webkit-box-shadow:0px 0px 0px 1px #111;
    box-shadow:0px 0px 0px 1px #111;
    border:3px solid #444;
}
#contact .MultipleRowListModule span.LabelStat {
    background:rgba(20, 20, 20, 0.4)
}
#footer {
    float:left;
    background-color:#17171a;
    height:80px;
    min-width:1024px;
    width:100%;
    border-top:#990000 solid 2px;
    -moz-box-shadow:0 -1px 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow:0 -1px 1px rgba(0, 0, 0, .4);
    box-shadow:0 -1px 1px rgba(0, 0, 0, .4);
}
#footer p {
    font-family:"Agency FB", Verdana, Geneva, sans-serif;
    font-weight:bold;
    font-size:18px;
    text-shadow:0 1px 0 #000;
    width:980px;
    margin:20px auto 0 auto;
}
thead {
    background:#1b1b1b
}
table tr:nth-child(even) {
    background:#2b2b2b
}
a:link {
    text-decoration:none;
    color:#777;
    -webkit-transition:color 0.2s ease-in;
    -moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    transition:color 0.2s ease-in;
}
a:visited {
    text-decoration:none;
    color:#777;
}
a:active {
    text-decoration:none;
    background:none;
}
a:hover {
    text-decoration:none;
    color:#b3b3b3;
}
::-webkit-scrollbar {
    width:12px;
    height:12px;
    background-color:#121212;
}
::-webkit-scrollbar-corner {
    background-color:#0e0e0e;
}
::-webkit-scrollbar-track {
    background-color:#121212;
    -moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
    background:rgba(40, 40, 40, 0.7);
    -moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgba(40, 40, 40, 1);
    -moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
::-webkit-scrollbar:horizontal {
    height:12px
}
img[src="http://files.gamebanana.com/static/img/icons/misc/16x16/options.gif"], img[src="http://files.gamebanana.com/static/img/icons/quickdl.gif"],li#GamercongressTab, li#GamedevcontestsTab, li#GamerpetitionsTab, li#Gener8rsTab, #ImportantLinks, #FooterLinks, #FooterWrapper, #SectionLinks, #PageTitle, #TitleBreadcrumb, #DropdownMenuSubNavigator, #TopBanner {
    display:none!important
}